.bodyContainer{
    display: flex;
   
    justify-content: space-between;
    height: 85vh;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Share Tech Mono', monospace;
    background-size: 100%;
    background-color: black;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
.mainCharacterView{
width: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.nameBox{
    border: 1px solid black;
    width: 25vw;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-shadow: 0px 0px 20px 10px white;

}
.playerImage{
    border: 1px solidblack;
    width: 30vw;
    height: 40vh;
    background-image: url("images/space_hero.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
    

    
}
.playerStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 20vw;
    height: 15vh;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
    border-radius: 2%;


}
.enemyImage{
    border: 1px solidblack;
    width: 30vw;
    height: 35vh;
    background-image: url("images/enemy.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
    

    
}
.enemyStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 20vw;
    height: 15vh;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;

}
#buttonDiv{
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}
button{
    height: 10vh;
    border-style: inset;
    border-radius: 4px;
    border-color: crimson;
    box-shadow: 0px 0px 10px 5px white;
    background-color: crimson;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 40px;
    transition: all 350ms ease-in-out;
}
button:hover{
    background-color: yellow;
    border-color: yellowgreen;
    cursor: crosshair;
}